 1. create a code that generates the date values for last 24 months / quarters/ years and future 2 months / quarter / years using the system date and also with manual user input incase of a back dated run
 2. There is a ‘01’x delimited flat file who’s headers and field formats are contained in another excel file in sequence. I want to be able to define the headers and formats while importing the flat file using the excel file info
 3.we have 2 DS , one is an employee level DS with cols: empid, start date, end date. second is a holiday dataset which has only one col : holiday dates
 I want to compute the no of working days for each employee which will be the no of days between start and end date from 1st DS minus the no of holidays from 2nd ds that fall within start and end date for each empid
 ithukku python code venum
Ram Synchrony: have 2 time series datasets . Ds1 has cols : country, product, date, expected loss. Ds2 has cols : country , product , date, provision . I want to compute coverage ratio for each country product by month and the formula is expected loss / rolling 12 months provision
 Ram Synchrony: shittians could you help me with the python code for these

In [19]:
from datetime import date,timedelta

In [38]:
today=date.today()
yesterday = today - timedelta(days=1)
lastweek = today - timedelta(days=7)
last_24_months=today-timedelta(days=720)
lastmonth = today - timedelta(days=1)
nextmonth=today + timedelta(days=30)
next_2_month=today + timedelta(days=60)

In [39]:
print(lastmonth)

2022-12-03

In [30]:
#UserInputDate for back dated run
year = int(input('Enter a year: '))
month = int(input('Enter a month: '))
day = int(input('Enter a day: '))

dt = date(year, month, day)
print(dt)

Enter a year: 2022
Enter a month: 06
Enter a day: 15
2022-06-15

2. A flat file is a collection of data stored in a two-dimensional database in which similar yet discrete strings of information are stored as records in a table. The columns of the table represent one dimension of the database, while each row is a separate record.

??-- unable to comprehend the two file imports as requested.
https://www.naukri.com/learning/articles/working-with-date-and-time-in-pandas/

3. we have 2 DS , one is an employee level DS with cols: empid, start date, end date. second is a holiday dataset which has only one col : holiday dates I want to compute the no of working days for each employee which will be the no of days between start and end date from 1st DS minus the no of holidays from 2nd ds that fall within start and end date for each empid ithukku python code venum

In [60]:
import pandas as pd
data1 = {'empid': ['1101', '1103', '1105', '1107'], 'StartDt': ['25/03/2014', '01/05/2022', '06/09/2019','07/05/2018'], 'EndDt': ['01/05/2022', '01/09/2022', '05/09/2020','07/05/2022']}
df1=pd.DataFrame(data1)

In [61]:
df1

  empid     StartDt       EndDt
0  1101  25/03/2014  01/05/2022
1  1103  01/05/2022  01/09/2022
2  1105  06/09/2019  05/09/2020
3  1107  07/05/2018  07/05/2022

In [36]:
df1.dtypes

empid      object
StartDt    object
EndDt      object
dtype: object

In [68]:
df1.dtypes['StartDt'] = pd.to_datetime(df1['StartDt'])
df1

  empid    StartDt      EndDt
0  1101 2014-03-25 2022-01-05
1  1103 2022-01-05 2022-01-09
2  1105 2019-06-09 2020-05-09
3  1107 2018-07-05 2022-07-05

In [69]:
df1["StartDt"] = df1["StartDt"].astype('datetime64[ns]')
df1["EndDt"] = df1["EndDt"].astype('datetime64[ns]')

In [54]:
df1.dtypes

empid              object
StartDt    datetime64[ns]
EndDt      datetime64[ns]
dtype: object

In [70]:
data2 = {'holidays': ['14/01/2022', '15/03/2022', '22/06/2022','17/11/2022','01/12/2022']}
df2=pd.DataFrame(data2)

In [71]:
df2["holidays"] = df2["holidays"].astype('datetime64[ns]')

C:\Setup\Anaconda\lib\site-packages\pandas\core\dtypes\cast.py:1163: UserWarning: Parsing '14/01/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  to_datetime(arr).values,
C:\Setup\Anaconda\lib\site-packages\pandas\core\dtypes\cast.py:1163: UserWarning: Parsing '15/03/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  to_datetime(arr).values,
C:\Setup\Anaconda\lib\site-packages\pandas\core\dtypes\cast.py:1163: UserWarning: Parsing '22/06/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  to_datetime(arr).values,
C:\Setup\Anaconda\lib\site-packages\pandas\core\dtypes\cast.py:1163: UserWarning: Parsing '17/11/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  to_datetime(arr).values,

In [96]:
df2

    holidays
0 2022-01-14
1 2022-03-15
2 2022-06-22
3 2022-11-17
4 2022-01-12

In [73]:
df1

  empid    StartDt      EndDt
0  1101 2014-03-25 2022-01-05
1  1103 2022-01-05 2022-01-09
2  1105 2019-06-09 2020-05-09
3  1107 2018-07-05 2022-07-05

compute the no of working days for each employee which will be the no of days between start and end date from 1st DS minus the no of holidays from 2nd ds that fall within start and end date for each empid ithukku python code venum

In [108]:
#import numpy as np
df1['diff_days'] = (df1['EndDt'] - df1['StartDt']) #/ np.timedelta64(1, 'D')
df1

  empid    StartDt      EndDt diff_days
0  1101 2014-03-25 2022-01-05 2843 days
1  1103 2022-01-05 2022-01-09    4 days
2  1105 2019-06-09 2020-05-09  335 days
3  1107 2018-07-05 2022-07-05 1461 days

In [99]:
holiday_list = df2["holidays"].dt.strftime('%Y-%m-%d').tolist()

In [100]:
holiday_list

['2022-01-14', '2022-03-15', '2022-06-22', '2022-11-17', '2022-01-12']

In [104]:
type(holiday_list[1])

str